<input type="number" [(ngModel)]="id" (keyup)="findById()">

<div *ngIf="id != null ;else elseblock">
    <table border=1px>
        <tr>
            <th>userId</th>
            <th>id</th>
            <th>title</th>
            <th>body</th>
        </tr>
        <tr>
            <td>{{post.userId}}</td>
            <td>{{post.id}}</td>
            <td>{{post.title}}</td>
            <td>{{post.body}}</td>
        </tr>
    </table>

</div>

<ng-template #elseblock>
    <table border=1px>
        <tr>
            <th>userId</th>
            <th>id</th>
            <th>title</th>
            <th>body</th>
        </tr>
        <tr *ngFor="let item of posts">
            <td>{{item.userId}}</td>
            <td>{{item.id}}</td>
            <td>{{item.title}}</td>
            <td>{{item.body}}</td>
        </tr>
    </table>
</ng-template>